<template>
  <div id="about">
    <vue-headful title="About - MathFever"/>

    <h1 class="main-heading">About</h1>
    <hr class="separator">

    <div class="mdl-grid">
      <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col shadow">
        <h4><strong>Why, hello there!</strong></h4>
        <p>This website <span class="small-caps">MathFever</span> aims to help you do a dodgy job on your homework.
          A lone admin built this site so he could help people spend less time on their homework and more time out
          with friends. Users can find mathematical proof and answers to common math problems, with values of
          their choosing. Math problem such as Highest/Lowest Common Denominator, Volume/Total Surface Area of a
          handful of different shapes, Conversions for the field of Networking (Binary, Decimal, and Hexadecimal),
          and more. The admin hopes you find this site a somewhat bit useful.
        </p>
        <p>If you see any bugs, report them and they will be squashed! If you want to request any features or have ideas
          for improvement don't hesitate to give the admin a yell, he likes to program.</p>
        <h5><strong>Contact</strong></h5>
        <p>Post a comment on the <router-link class="no-underline-a-tag" to="/message-board">message
          board.</router-link></p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "about-page"
  }
</script>

<style scoped>

</style>
