<template>
  <div>
    <vue-headful :title="`${calculation.name} | ${calculation.category} - MathFever`"/>

    <div class="calculation-page-heading">
      <h3><a :href="`${calculation.category_url}`">{{calculation.category}}:</a></h3>
      <h2 class="main-heading">{{calculation.name}}</h2>
    </div>

    <!-- User Input Form -->
    <form id="calculation-form">

      <!-- User Input Field -->
      <div v-for="input of calculation.input_info"
           class="user-input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" :name="`${input.tag}`" type="text" :id="`${input.tag}`" autocomplete="off">
        <label class="mdl-textfield__label" :for="`${input.tag}`" :id="`${input.tag}Label`">{{input.name}}</label>
      </div>

      <!-- Raised button with ripple -->
      <button @click.prevent="sendCalculation(slug)"
              class="calculation-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Calculate
      </button>

    </form>
    <hr class="separator">

    <div id="loading-spinner-container">
      <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>

    <!-- Calculation Card -->
    <div class="mdl-grid">
      <div id="calculation-card" class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell
    mdl-cell--10-col shadow"></div>
    </div>
  </div>
</template>

<script>
  import axios from "axios"
  import validateForm from "../util/validate"
  import submitAjax from "../util/ajax"
  import serializeForm from "../util/serialize"

  export default {
    name: "calculation-page",

    data() {
      return {
        calculation: [],
        errors: [],
        slug: ""
      }
    },

    created() {
      this.slug = this.$route.params.calculationSlug;
      axios.get("/api/calculation", {
        params: {
          calculation: this.slug
        }
      })
        .then(response => {
          this.calculation = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    },

    methods: {
      sendCalculation: (slug) => {
        const calculationForm = document.getElementById("calculation-form");
        const form = serializeForm(calculationForm);
        const [validatedForm, isValid] = validateForm(form);
        if (isValid) {
          submitAjax(validatedForm, slug);
        }
      }
    }
  }
</script>

<style scoped>
  .calculation-page-heading a {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: inherit;
  }

  .calculation-page-heading a:hover {
    color: rgb(255, 64, 129);
  }

  .user-input-field {
    margin-left: 5%;
  }

  .calculation-button {
    margin-left: 5%;
    margin-top: 1%;
  }

  #loading-spinner-container {
    margin: auto;
    text-align: center;
    opacity: 0;
  }

  #calculation-card {
    opacity: 0;
  }

  .word-break {
    word-break: break-all;
  }

  .column-wrap {
    white-space: normal;
  }

  .fade-in {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
