<template>
  <div>
    <vue-headful :title="`${category.name} - MathFever`"/>

    <h1 class="main-heading">{{category.name}}</h1>
    <hr class="separator">

    <!-- Page Content-->
    <div class="mdl-grid">
      <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col shadow">
        <h4>{{category.name}} Calculations:</h4>
        <ul class="category-calc-ul">
          <li v-for="calculation of category.calculations">
            <router-link :to="`${calculation.url}`">{{calculation.name}}</router-link>
          </li>
        </ul>

        <!-- Calculation Output Examples -->
        <div v-for="calculation of category.calculations">
          <hr>
          <h4>{{calculation.name}}</h4>
          <span v-html="calculation.example"></span>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios"

  export default {
    name: "category-page",

    data() {
      return {
        category: [],
        errors: []
      }
    },

    created() {
      axios.get("/api/category", {
        params: {
          category: this.$route.params.slug
        }
      })
        .then(response => {
          console.log(response.data)
          this.category = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
</script>

<style scoped>
  .category-calc-ul a {
    text-decoration: none;
  }
  .category-calc-ul a:hover {
    text-decoration: underline;
  }
</style>
