<template>
  <div id="help">
    <vue-headful title="Help - MathFever"/>

    <h1 class="main-heading">Help</h1>
    <hr class="separator">

    <!-- Page Content-->
    <div class="mdl-grid">
      <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        shadow">
        <h4><strong>Found any mistakes?</strong></h4>
        <p>If you find any mistakes post a comment on the
          <router-link class="no-underline-a-tag" to="/message-board">message
            board
          </router-link>
          detailing the issue.
        </p>

        <h4><strong>Want to request a feature?</strong></h4>
        <p>Post it on the
          <router-link class="no-underline-a-tag" to="/message-board">message
            board.
          </router-link>
          _へ__(‾◡◝ )>
        </p>

        <h4><strong>Do you want to ask a question?</strong></h4>
        <p>Just ask on the
          <router-link class="no-underline-a-tag" to="/message-board">message
            board.
          </router-link>
        </p>

        <h4><strong>Got mad advice for the admin?</strong></h4>
        <p>→
          <router-link class="no-underline-a-tag" to="/message-board">message
            board
          </router-link>
          ←
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "help-page"
  }
</script>

<style scoped>

</style>
