<template>
  <div>
    <vue-headful title="MathFever"/>

    <h1 class="main-heading">Home</h1>
    <hr class="separator">

    <div class="mdl-grid">
      <!-- Card -->
      <div v-for="category of categories"
           class="home-card demo-card-wide mdl-card mdl-cell mdl-cell--top mdl-cell--4 mdl-cell--4-col-phone shadow">

        <!-- Card Picture/Title -->
        <div class="home-card--title mdl-card__title"
             :style="`background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(${category.image_url}) center/cover`">
          <h6 class="mdl-card__title-text">
            <router-link :to="`${category.url}`">{{category.name}}</router-link>
          </h6>
        </div>

        <!-- Card Text-->
        <div class="home-card--text mdl-card__supporting-text">
          <ul>
            <li v-for="calculation of category.calculations">
              <router-link :to="`${calculation.url}`">{{calculation.name}}</router-link>
            </li>
          </ul>
        </div>

      </div>
    </div>


  </div>
</template>

<script>
  import axios from "axios"

  export default {
    name: "home-page",

    data() {
      return {
        categories: [],
        errors: []
      }
    },

    created() {
      axios.get(`/api/categories`)
        .then(response => {
          this.categories = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
</script>

<style scoped>
  .home-card {
    border: solid 1px #e4e4e4;
  }

  .home-card a {
    text-decoration: none;
    color: inherit;
  }

  .home-card--title {
    color: #fff;
    height: 176px;
  }

  .home-card--title a:hover, .home-card--text a:hover {
    text-decoration: underline;
  }
</style>
