<template>
  <div id="message-board">
    <vue-headful title="Message Board - MathFever"/>

    <h1 class="main-heading">Message Board</h1>
    <hr class="separator">

    <div class="mdl-grid">
      <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        shadow">

        <div class="post">
          <h3>A Warm Welcome To This Slightly Terrible Site!</h3>
          <p>May it be slightly terrible or just plain terrible, if at least someone finds this site useful I'll be as
            happy as a clam.</p>
          <p>What's a clam, here's a cat:</p>
          <img class="round-img" src="../assets/img/post/first-post.jpg" width="400">
          <p><strong>Nov. 19, 2016</strong></p>
          <p>Page 1 of 1</p>
        </div>
      </div>

      <!-- Disqus -->
      <vue-disqus shortname="mathfever-go" :identifier="identifier" :url="url"></vue-disqus>
    </div>
  </div>
</template>

<script>
  import VueDisqus from 'vue-disqus/VueDisqus.vue'

  const url = location.href
  const identifier = window.location.pathname

  export default {
    name: "message-board-page",
    data: function () {
      return {
        url: url,
        identifier: identifier
      }
    },
    components: {
      VueDisqus
    }
  }
</script>

<style scoped>
  #disqus_thread {
    margin: 30px auto;
    width: 800px;
  }

  .round-img {
    max-width: 100%;
    border-radius: 15px;
  }
</style>
