<template>
  <div class="mdl-grid">

    <vue-headful title="404 - MathFever"/>

    <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        shadow">
      <h2>Error 404 &rarr; This page doesn't exist.</h2>
      <h6>There's nothing here but us.</h6>
      <img class="error-img" src="../assets/img/error/404-goat.jpg" width="500" alt="Error 404">
    </div>

  </div>
</template>

<script>
  export default {
    name: "not-found-page"
  }
</script>

<style scoped>
  .error-img {
    width: 100%;
    border-radius: 15px;
  }
</style>
