<template>
  <div id="drawer" class="mdl-layout__drawer">

    <span class="mdl-layout-title">MathFever</span>

    <nav class="mdl-navigation">
      <router-link class="mdl-navigation__link" to="/">Home</router-link>
      <router-link class="mdl-navigation__link" to="/message-board">Message Board</router-link>
      <router-link class="mdl-navigation__link" to="/about">About</router-link>
      <router-link class="mdl-navigation__link" to="/help">Help</router-link>
    </nav>

  </div>
</template>

<script>
    export default {
        name: "page-drawer"
    }
</script>

<style scoped>

</style>
