<template>
  <footer class="mdl-mini-footer">

    <div class="mdl-mini-footer__left-section">
      <div class="small-caps mdl-logo">© 2017 MathFever.xyz</div>
      <ul class="mdl-mini-footer__link-list">
        <li><router-link to="/help">Help</router-link></li>
        <li><router-link to="/terms">Terms of Use</router-link></li>
        <li><router-link to="/privacy">Privacy</router-link></li>
      </ul>
    </div>

  </footer>
</template>

<script>
    export default {
        name: "page-footer"
    }
</script>

<style scoped>
  .mdl-mini-footer {
    margin-top: 50px;
  }
</style>
