<template>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <span id="top-bar-title" class="mdl-layout-title">MathFever</span>
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <router-link class="mdl-navigation__link" to="/">Home</router-link>
        <router-link class="mdl-navigation__link" to="/message-board">Message Board</router-link>
        <router-link class="mdl-navigation__link" to="/about">About</router-link>
        <router-link class="mdl-navigation__link" to="/help">Help</router-link>
      </nav>

    </div>
  </header>
</template>

<script>
  export default {
    name: "page-header"
  }
</script>

<style scoped>

</style>
