<template>
    <div id="privacy">
      <vue-headful title="Privacy - MathFever"/>

      <h1 class="main-heading">Privacy</h1>
      <hr class="separator">

      <div class="mdl-grid">
        <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col shadow">
          <h4><strong>We use Google Analytics</strong></h4>
          <p>Like many other websites, <span class="small-caps">MathFever</span> uses Google Analytics to gather
            statistics on the site's traffic in order to improve the quality of the website.</p>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "privacy-page"
    }
</script>

<style scoped>

</style>
