<template>
    <div>
      <vue-headful title="Terms - MathFever"/>

      <h1 class="main-heading">Terms</h1>
      <hr class="separator">

      <div class="mdl-grid">
        <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col shadow">
          <ul>
            <li>The information and the tools on this website are given as is without any warranty of any kind.</li>
            <li>This website mathfever.xyz, and its contributors are not be liable for any damages or losses
              resulting from the use of the content or the tools on this website.
            </li>
            <li>Using this website means you accept the Terms of Use.</li>
            <li>These Terms of Use are subject to change at any time.</li>
          </ul>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        name: "terms-page"
    }
</script>

<style scoped>

</style>
