<template>
  <div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <page-header></page-header>
    <page-drawer></page-drawer>

    <main class="mdl-layout__content">
      <div id="page-content">
        <router-view></router-view>
      </div>

      <page-footer></page-footer>
    </main>

  </div>

</template>

<script>
  // import favicon so it's available in /dist for index.html
  import "./assets/favicon.ico"

  import PageFooter from './components/PageFooter'
  import PageHeader from "./components/PageHeader"
  import PageDrawer from './components/PageDrawer'

  export default {
    components: {
      PageHeader,
      PageDrawer,
      PageFooter
    },
    name: 'app'
  }
</script>

<style>
  #page-content {
    min-height: 90vh;
  }

  /* Misc */
  .shadow {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  /*Misc*/
  .main-heading {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 200;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .separator {
    margin-left: 1%;
    margin-right: 1%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .general-content {
    margin: auto;
    padding: 20px 5%;
    overflow: auto;
  }

  .no-text-decoration {
    text-decoration: none;
  }
</style>
